.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  height: 10px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
  bottom: -2px;
  margin-top: 0;
}

.toggle-icons-container {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.icon-dark,
.icon-light {
  font-size: 17px;
  cursor: pointer;
}

.icon-dark {
  color: black;
}

.wmde-markdown h1 {
  border-color: #4e5d6c !important;
}
